<div class="container mx-auto px-4 sm:px-8">
  <div class="py-8">
    <div>
      <h2 class="text-xl font-semibold leading-tight ">Products</h2>
    </div>
    <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
      <div class="inline-block min-w-full shadow-md rounded-lg overflow-hidden">
        <table class="min-w-full leading-normal">

          <thead>
            <tr>
              <th maxWidth="30px"> </th>
              <th>Code</th>
              <th>Name</th>
              <th>Base price, €</th>
              <th>Tax rate, %</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let product of products; let i = index">
              <td class="px-2 py-2">{{i+1}}</td>

              <td max-width="30px">
                <div class="flex">
                  <label>
                    <input type="text" id="{{ 'code-input-' + product.id }}" [disabled]="!isItEditProduct(product.id)"
                      value="{{isItEditProduct(product.id) ? productToEdit?.code : product.code}}"
                      (change)="onFieldChange($event, 'code')" />
                  </label>
                </div>
              </td>
              <td>
                <input type="text" [disabled]="!isItEditProduct(product.id)"
                  value="{{isItEditProduct(product.id) ? productToEdit?.name : product.name}}"
                  (change)="onFieldChange($event, 'name')" />
              </td>
              <td>
                <input type="text" [disabled]="!isItEditProduct(product.id)"
                  value="{{isItEditProduct(product.id) ? productToEdit?.basePrice : product.basePrice}}"
                  (change)="onFieldChange($event, 'basePrice')" />
              </td>
              <td>
                <label for="{{'tax-rate-' + product.id}}">
                  <select [disabled]="!isItEditProduct(product.id)" (change)='selectTax($event, product.id)'
                    id="{{'tax-rate-' + product.id}}"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full">
                    <option *ngFor="let tax of taxRates" [selected]="tax === getTaxForProductId(product.id)">
                      {{tax}}
                    </option>
                  </select>
                </label>
              </td>
              <td>
                <div *ngIf="isItEditProduct(product.id)" class="flex justify-end">
                  <button (click)="confirmEditting(product)" class="confirm-btn">
                    <img src="../../assets/icons/check_24.svg" width="16" height="16" alt="Confirm edit">
                  </button>
                  <button (click)="cancelEditting()" class="cancel-btn">
                    <img src="../../assets/icons/close_24.svg" width="16" height="16" alt="Cancel edit">
                  </button>
                </div>
                <div *ngIf="!isItEditProduct(product.id)" class="flex justify-end">
                  <button (click)="editProduct(product)" class="edit-btn">
                    <img src="../../assets/icons/edit_24.svg" width="16" height="16" alt="Edit product">
                  </button>
                  <button (click)="deleteProduct(product.id)" class="delete-btn">
                    <img src="../../assets/icons/delete_24.svg" width="16" height="16" alt="Delete product">
                  </button>
                </div>
              </td>
            </tr>

            <tr class="font-bold text-slate-700">
              <td colSpan="3" class="text-right ">{{'Total with tax:' | uppercase}}</td>
              <td colSpan="3" class="text-left ">{{calculateTotal() + ' €'}}</td>
            </tr>

            <tr>
              <td colspan="6" class="table-action-row">
                <button (click)="addProduct()" [disabled]="!!productToEdit"
                  class="secondary-btn inline-flex items-center">
                  <img src="../../assets/icons/add_24.svg" alt="Add product">
                  <span class="px-2">Add Product</span>
                </button>
                <button (click)="saveProducts()" [disabled]="!dataModified"
                  class="main-btn inline-flex items-center save-all">
                  <img src="../../assets/icons/done_all_24.svg" alt="Save all">
                  <span class="px-2">Save all</span>
                </button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="flex w-100 justify-center mt-4 footer">
      <button class=" page-btn main-btn inline-flex font-bold items-center ">
        <a routerLink="/">Continue</a>
      </button>
    </div>

  </div>